<div class="container">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <p>This task is <%= @task.completed ? "completed" : "not completed yet" %></p>
  <p><%= link_to "Edit task", edit_task_path %></p>
  <p><%= link_to "Delete",
    task_path(@task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %></p>
  <p><%= link_to "Back to tasks", root_path %></p>
</div>
